<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Training Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }

        .red {
            color: #ff0000;
        }

        .bold {
            font-weight: bold;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }

    </style>
</head>
<body width="100%"
      style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; ">
<div style="display: flex;justify-content: center;align-content: center;align-items: center;">
    <div >
        <h1  th:text="${'Hello ' + name+','}">Hello Fi</h1>
        <p >
            Thank you for the registration at the <span class="red bold" th:text="${trainingName}"></span> training, that
            will
            take place on
            the <span th:text="${date}"></span>.
        </p>
        <p >
            Please confirm your participation <a class="red bold" th:href="${confirmUrl}">here</a>.
        </p>
        <p >Once you do this,you will receive an additional email with all training details.</p>
        <p >If you no longer wish to participate at this training, please contact <a
                href="mailto:Endava.PDR.ISD@endava.com">Endava.PDR.ISD@endava.com</a>.
        </p>
        <p>Thanks,</p>
        <h3 class="red">PDR Team</h3>

        <img   width="150" class="logo"
             src="https://storage-images.bananatag.com/s61hZY/e10a655cc58233b3691ecce963a652c4.xdog3g"
             alt="Endava logo"/>
    </div>
</div>
</body>
</html>